<div class="header">

    <div class="row">
        <div id="friends_btn" class="col-md-6 col-sm-6">
            <a href="/"> My HCI Friends </a>
        </div>

        <div id="news_btn" class="col-md-6 col-sm-6">
            <a href="/news"> News </a>
        </div>
    </div>

</div>