/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

h1, h2, h3, h4, h5 {
	color: #8382BF;
}

.friend{
	width: 12em;
}

.jumbotron img{
	width: 8em;
}

.jumbotron {

}

.newsfeed {
	margin: 1em;
}

.header div{
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	vertical-align: middle;
	font-weight: bold;
	padding: .5em;
	font-size: 1.2em;
}

.header a{
	color: white;
}

#friends_btn {
	background-color: #67b168;
}

#news_btn {
	background-color: #2a6496;
}